## Task 1: Basic Operation

In [30]:
## 1. Accepting two integers:

input1 = int(input('Enter first integer: ')) ## taking inputs
input2 = int(input('Enter second integer: ')) ## taking inputs

## 2. Performs the following operations using arithmetic operators:

# for Addition:
result1 = input1 + input2

# for Subtraction:
result2 = input1 - input2

# for Multiplication:
result3 = input1 * input2

# for Division:
result4 = input1 / input2

# for Modulus:
result5 = input1 % input2

# for Exponentiation:
result6 = input1 ** input2


## 3. Printing the results in a well-formatted way using f-strings:

print(f'Addition of {input1} and {input2} is {result1}')
print(f'Subtraction of {input1} and {input2} is {result2}')
print(f'Multiplication of {input1} and {input2} is {result3}')
print(f'Division of {input1} and {input2} is {result4}')
print(f'Modulus of {input1} and {input2} is {result5}')
print(f'Exponetiation of {input1} and {input2} is {result6}')

Enter first integer: 12
Enter second integer: 12
Addition of 12 and 12 is 24
Subtraction of 12 and 12 is 0
Multiplication of 12 and 12 is 144
Division of 12 and 12 is 1.0
Modulus of 12 and 12 is 0
Exponetiation of 12 and 12 is 8916100448256

## Task 2:  Working with Lists and Arrays

In [31]:
## 1. Creating a list containing at least 10 numbers.
List = [4,2,6,1,7,3,8,5,0,9] # list of 10 nums


## 2. Performing operations:

# Printing the length of list
print(f'Length of the list is {len(List)}') # total length of list

# Maximum and Minimum Value:

print(f'Maximum value of from the list is {max(List)}') # max value from list
print(f'Minimum value of from the list is {min(List)}') # min value from list


# Adding a new value into the list and removing a value from the list

List.append(12) # this adds 12 into the list
List.remove(8)  # this removes 8 from the list

# Sorting the list in asc and desc order:

Asc_list = sorted(List) # Sorting the list in Ascending Order
Desc_list = sorted(List,reverse = True) # Sorting the list in Descending Order

print(f"Ascending order: {Asc_list}")
print(f"Descending order: {Desc_list}")

## 3. Converting the list into numpy arrays and calculating mean,median and Standard deviation:

import numpy as np # importing numpy for conversion of list to array
Array = np.array(List) # converting list to array

# Calculating Mean,Median and Std:
Mean = np.mean(Array)
Median = np.median(Array)
Std = np.std(Array)

print(f'Mean of Array {Mean}')
print(f'Median of Array {Median}')
print(f'Standard Deviation of Array {Std}')

Length of the list is 10
Maximum value of from the list is 9
Minimum value of from the list is 0
Ascending order: [0, 1, 2, 3, 4, 5, 6, 7, 9, 12]
Descending order: [12, 9, 7, 6, 5, 4, 3, 2, 1, 0]
Mean of Array 4.9
Median of Array 4.5
Standard Deviation of Array 3.5341194094144583

## Task 3: Dictionaries and Sets

In [42]:
# 1. Creating a dictionary named student with keys: name, age, course, marks.

student = {
    'name': 'Subham',
    'age' : 21,
    'course': 'Python',
    'marks' : 99
    }

# 2. Printing each key-value pair using a loop.

for key,value in student.items():
  print(f'for key:{key}, value:{value}')


# 3. Adding a new key called grade with a value of your choice.

student['grade'] = 'A+' # adding new key


# 4. Creating a set of unique courses

courses = {'Python','Data Science','AI','Python'} # here python appears twice

print(courses) # 'Python' will be automatically removed because its a duplicate


# 5. Performing set operations — union, intersection, and difference — between two sets of sample data.

# creating two sets for set operations
set1 = {"Python", "AI", "Machine Learning"}
set2 = {"AI", "Data Science", "Deep Learning"}

# performing union between two sets
union_result = set1 | set2
# performing intersection between two sets
intersection_result = set1 & set2
# performance difference between two sets
difference_result = set1 - set2

print(f'result of union: {union_result}')
print(f'result of intersection: {intersection_result}')
print(f'result of difference: {difference_result}')

for key:name, value:Subham
for key:age, value:21
for key:course, value:Python
for key:marks, value:99
{'AI', 'Python', 'Data Science'}
result of union: {'Python', 'Deep Learning', 'Data Science', 'AI', 'Machine Learning'}
result of intersection: {'AI'}
result of difference: {'Python', 'Machine Learning'}

## Task 4: File Handling

In [44]:
# 1. Create a text file named student_data.txt.
# 2. Write the following information into the file (name, course, and marks of at least 5 students).


students_info = [
    'Riya, Data Science, 88\n',
    'Aman, Python, 70\n',
    'Subham, AI, 92\n',
    'Priya, Data Science, 76\n',
    'Rahul, Machine Learning, 65\n'
]

# Writing data into the file
with open('student_data.txt','w') as f:
  f.writelines(students_info)

# 3. Reading the file and displaying only students with marks above 75

with open('student_data.txt','r') as f:
  for line in f:
    data = line.strip().split(",")   # Split line into [name, course, marks]
    name = data[0].strip()
    course = data[1].strip()
    marks = int(data[2].strip())

# Check condition: marks above 75
    if marks > 75:
      print(f"Name: {name}, Course: {course}, Marks: {marks}")

Name: Riya, Course: Data Science, Marks: 88
Name: Subham, Course: AI, Marks: 92
Name: Priya, Course: Data Science, Marks: 76